<div class="img">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center">
                <img class="logo py-4" src="../../assets/images/user/logo.png" alt="CT junior">
            </div>
        </div>
        <div class="login row justify-content-center">
            <div class="card col-lg-10 shadow-lg p-0">
                <div class="btn-group" role="group" aria-label="Sign in & Sign up">
                    <button type="button" class="sign btn py-4" routerLink="/Login">Sign in</button>
                    <button type="button" class="sign btn py-4" routerLink="/Cadastro">Sign up</button>
                </div>
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>