
ng-sidebar-container {
    position: absolute;
    height: 100vh;
}

nav {
    background-color: #00646a !important;
    color: #fff;
}

.toggle {
    height: 35px;
    width: auto;
    background-color: transparent;
}

.btn:visited {
    border:none!important;
    margin: 0;
    outline-offset: 0px;
}
.btn:hover{
    border:none!important;
    margin: 0;
    outline-offset: 0px;
}

.toggle-btn {
    padding: 0px 0px 5px 0px;
    border: 0;
    margin: 0;
    background-color: transparent;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.sidebar-item {
    width: 100%;
    height: 5vh;
    border-radius: 0;
    color: #fff;
    border: 0;
}

.sidebar-item:hover {
    background-color: #6c757d;
}

.sidebar-item:active {
    background-color: #6c757d;
}

.sidebar-itens {
    text-align: center;
    padding-top: 56px;
}