<h5 class="card-title text-center">Login</h5>

<form [formGroup]="login">
    <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <label for="email">Email:*</label>
            <input type="text" class="form-control shadow rounde" id="email" placeholder="nome@ctjunior.com.br"
                formControlName="email" [ngClass]="aplicaCss('email')">
            <div class="invalid-feedback">Email é
                obrigatório!</div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <label for="password">Senha:*</label>
            <div class="input-group">
                <input [type]="tipo ? 'text' : 'password'" class="form-control shadow rounde" id="password"
                    placeholder="Senha" formControlName="password" [ngClass]="aplicaCss('password')">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="showHide()">
                        <img [src]="tipo ? '../../assets/icons/eye-fill.svg' : '../../assets/icons/eye-slash-fill.svg'"
                            alt="">
                    </button>
                </span>
                <div class="invalid-feedback">Senha é
                    obrigatório!</div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center px-4">
        <button type="button" class="btn btn-outline-secondary col-md-6" (click)="fazerLogin()">Entrar</button>
    </div>

    <div class=" row justify-content-center pt-5">
        <a href="">Esqueceu a senha?</a>
    </div>

</form>